.form {
    padding: 15px;
    border: 1px solid var(--border-color);
    border-radius: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--background-color);
    box-shadow: 0px 0px 15px 0px var(--shadow-color);

    > div {
        display: flex;

        * {
            margin-bottom: 10px;
        }
    }

    div:last-child * {
        margin-bottom: 0;
    }
}
.input {
    flex-direction: column;
}
.buttons {
    justify-content: space-evenly;
}