:root {
    --background-color: #fff;
    --border-color: #bbb;
    --shadow-color: #b7b7b7;
    --done-todo: #666666;
    --done-bg: #f0f0f0;
    --yellow-btn: #ffd700;
    --yellow-btn-hover: #e6c300;
    --red-btn: #ff5656;
    --red-btn-hover: #ff2424;
    --green-btn: #00db00;
    --green-btn-hover: #00c200;
    --black-text: #000;
}