.todo {
    padding: 15px;
    border: 1px solid var(--border-color);
    border-radius: 20px;
}
.todoDone {
    color: var(--done-todo);

    h2 {
        text-decoration: line-through 3px;
    }
}
.heading {
    display: flex;
    align-items: center;
    justify-content: space-between;

    h2 {
        overflow-wrap: anywhere;
    }
    div button {
        margin-left: 10px;
        background-color: transparent;
        font-size: 24px;
    }
}
.marked {
    color: var(--yellow-btn-hover);
}
.done {
    color: var(--green-btn-hover);
}
.form {

    div {
        display: table-row;

        * {
            display: table-cell;
            margin-bottom: 10px;
        }
        label {
            padding-right: 5px;
        }
    }
}
.changeBtn {
    background-color: var(--yellow-btn);

    &:hover {
        background-color: var(--yellow-btn-hover);
    }
}
.deleteBtn {
    background-color: var(--red-btn);

    &:hover {
        background-color: var(--red-btn-hover);
    }
}